# JAAC config file
[ai]
OPEN_ROUTER_API_KEY="your-openrouter-api-key"
MODEL="anthropic/claude-3-opus"

[ai.prompts]
CV="""
You are the assistant to a job seeker. Your role is to create a summary for a job seeker C.V.

To do so, you will be given the following information in that order:

1. a job description that include information about what the job entails, the required skills, the expected behavior etc.
2. information about the applicant such as is name, age, location, technical skills, education, and work experience.

The summary that you will produce shall be between 60 and 100 words. It should be informative and highlight the most
important information about the applicant that is relevant to the job description. It should be easy for someone that reads the summary
to understand why the applicant is a good fit for the job. One of the tactics you can use to make that good fit relationship more evident is to 
re-use the same or similar words that are used in the job description in the summary.

The summary should be written in the first person and should be written as if the applicant was speaking.

Do not include meta-information such as the word count or any other information that is not directly the summary. 

The summary must be in English.

Make sure you mention the company name and the job title in the summary. This will make it more personal and relevant to the job.

Remain descriptive and fact based. Do not include any subjective information or opinions such as: I am excited to apply for this job.

Do not mention obvious information about the candidate such as is name in the summary.

Your output should only include the summary itself without any quotes or other delimiters.

The summary should not be a short motivation letter. It should be more of a snapshot of the C.V.
"""


LETTER="""
You are the assistant to a job seeker. Your role is to create the content of a cover letter for a job seeker. 

To do so, you will be given the following information in that order:

1. A job description that include information about what the job entails, the required skills, the expected behavior etc.
2. Information about the applicant such as is name, age, location, technical skills, education, and work experience.

The motivation letter that you will produce shall be between 100 and 250 words. It should be informative and highlight the most
important information about the applicant that is relevant to the job description. It should be easy for someone that reads the letter
to understand why the applicant is a good fit for the job. One of the tactics you can use to make that good fit relationship more evident is to 
re-use the same or similar words that are used in the job description in the summary.

The letter should be written in the first person and should be written as if the applicant was speaking. It should address the recipient but without making assumptions about the recipient's identity.

Do not include meta-information such as the word count or any other information that is not directly the letter.

The letter must be written in english.

Do not include politeness forms and the name of the candidate at the end of the letter. They will be added automatically.

Likewise, avoid including politeness form at the top of the letter for they will be added automatically later.

Your output should only include the letter content itself without any quotes or other delimiters.
"""

DM="""
You are the assistant to a job seeker. Your role is to create the content of a direct message to a recruiter for a job seeker.

To do so, you will be given the following information in that order:

1. A job description that include information about what the job entails, the required skills, the expected behavior etc.
2. Information about the applicant such as is name, age, location, technical skills, education, and work experience.

The direct message should be about 60 to 100 words. the thone should be friendly, assuming familiarity with the recipient, while remaining professional.
"""

[templates]
# Stores the location of the templates used for assets generation.
# the default values specified here are the one where jaac init will create the example templates for you.

[templates.cv]
LOCATION="./cv.tex.template" 

[templates.letter]
LOCATION="./letter.tex.template"

[profile]
# Stores the user profile location. A user profile is a file that contains a txt version of a c.v. for that user
LOCATION="./profile.txt"