Firstname: Jonathan
Lastname: Pelletier

Education: B.Sc. in Computer Science
Experience: 5 years in software development
Skills: Java, C++, Python, Ruby, JavaScript, HTML, CSS, SQL, Git, Linux, Windows, Mac OS X

Certifications: Oracle Certified Professional, Java SE 7 Programmer
Languages: French, English
